<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Welcome to the Admin page</title>
    </head>
    <body>
        <h1>Welcome to the Admin page @ViewBag.user</h1>
    </body>
</html>
