<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Welcome to the basic page</title>
    </head>
    <body>
        <h1>Welcome to the basic page, Datetime: @ViewBag.datetime, CPR: @ViewBag.cpr</h1>
    </body>
</html>
