@model TestingFinalExam.Models.UserModel


@{
    ViewData["Title"] = "Home Page";
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<environment names="Development">
    <link rel="stylesheet" href="~/css/enter.css" />
    <!--<img src="images/bg-masthead.jpg" alt="Sample Photo" />-->
</environment>


<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="wrapper">
                    <button type="button" class="btn btn-outline-success my-button">
                        @Html.ActionLink("Enter!", "Login", "Home")
                    </button>
                </div>
            <div class="col"></div>
            </div>
        </div>
    </div>
</body>


