@model TestingFinalExam.Models.UserModel


@{
    ViewData["Title"] = "Home Page";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<environment names="Development">
    <link rel="stylesheet" href="~/css/logincss.css" />
</environment>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fas fa-user-tie"></i>
        </div>



        <!-- Login Form -->
        <form asp-action="Index">

            <input type="text" id="first" class="fadeIn second" asp-for="firstname" placeholder="First name" required />
            <input type="text" id="last" class="fadeIn second" asp-for="lastname" placeholder="Last name" required />
            <input type="text" id="phone" class="fadeIn second" asp-for="phonenumber" placeholder="Phonenumber" required />
            <input type="text" id="cpr" class="fadeIn second" asp-for="cprnumber" placeholder="CPR" required />
            <input type="text" id="user" class="fadeIn third" asp-for="usertype" placeholder="User type" required />
            <input type="submit" class="fadeIn fourth" value="Continue">

        </form>


    </div>
</div>

